.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 350px 1.6fr;
    grid-template-rows: 1.5fr 250px;
    grid-template-areas: "sidebar showroom" "sidebar bottombar";
}

app-sidebar {
    grid-area: sidebar;
}

app-bottombar {
    grid-area: bottombar;
}

app-showroom {
    grid-area: showroom;
}