.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr 200px;
    grid-template-areas: "titlebar titlebar" "sidebar showroom" "sidebar bottombar";
}

app-titlebar {
    grid-area: titlebar;
}

app-sidebar {
    grid-area: sidebar;
}

app-bottombar {
    grid-area: bottombar;
}

app-showroom {
    grid-area: showroom;
}